<button (click)=loadData()> {{loadDataBtnTitle}} </button>
<div *ngIf="users.length">
  <h3>Users Data</h3>
  <form #testForm="ngForm">
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Middle name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Role</th>
          <th>Address</th>
          <th>Created on</th>
          <th>Modified on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor='let user of users; let i = index'>
          <tr *ngIf="selected === i && selectedUser ; else normalList" ngModelGroup="selectedUser" #userRow="ngModelGroup">
            <td>
              <input required ngModel [(ngModel)]="selectedUser.firstName" #first="ngModel" name="selectedUser.first">
              <div *ngIf="first.touched && !first.valid">First name is required</div>
            </td>
            <td><input [(ngModel)]="selectedUser.middleName" name="middleName"></td>
            <td><input [(ngModel)]="selectedUser.lastName" name="lastName"></td>
            <td>
              <input required ngModel [(ngModel)]="selectedUser.email" #mail="ngModel" name="selectedUser.mail">
              <div *ngIf="mail.touched && !mail.valid">Email is required</div>
            </td>
            <td><input [(ngModel)]="selectedUser.phone" name="phone"></td>
            <td>
              <input required [(ngModel)]="selectedUser.role" ngModel #userRole="ngModel" name="userRole">
              <div *ngIf="userRole.touched && !userRole.valid">Role is required</div>
            </td>
            <td><input [(ngModel)]="selectedUser.address" name="address"></td>
            <td><input [(ngModel)]="selectedUser.createdOn" name="createdOn"></td>
            <td><input [(ngModel)]="selectedUser.modifiedOn" name="modifiedOn"></td>
            <td>
              <button type="button" (click)="save()" [disabled]="!userRow.valid">Save</button>
              <br>
              <button type="button" (click)="revertUserDetails()">Cancel</button>
            </td>
          </tr>

          <ng-template #normalList>
          <tr>
            <td>{{ user.firstName }}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.lastName }}</td>
            <th>{{ user.email }}</th>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.createdOn | date}}</td>
            <td>{{ user.modifiedOn | date }}</td>
            <td>
              <button type="button" (click)=editUser(i)>Edit</button>
              <button type="button" (click)=delete(i)>Delete</button>
            </td>
          </tr>
          </ng-template>
        </ng-container>
      </tbody>
    </table>
  </form>
</div>